/* Set height of body and the document to 100% to enable "full page tabs" */
body,
html {
  height: 100%;
  margin: 0;
  font-family: Avenir, "Century Gothic", sans-serif;
}

/* Style header */
.header-wrap {
  position: relative;
}

.header-wrap:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background: url("http://www.genkin.org/gallery/australia/melbourne/au-melbourne-0032_l.jpg");
  background-size: cover;
  background-position: center;
}

.header {
  position: relative;
  font-family: Avenir, "Century Gothic", sans-serif;
  font-size: 54px;
  color: white;
  text-shadow: 0 0 10px black;
  text-align: center;
  padding: 2.5em;
}

.tab_nav {
  position: relative;
  overflow: hidden;
  margin: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-width: 1500px;
  bottom: 0px;
}

/* Style weatherDate button */
.weatherDate {
  font-family: Avenir, "Century Gothic", sans-serif;
  font-size: 16px;
  background-color: #555;
  color: white;
  opacity: 0.7;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 5px;
}

.weatherDate:hover {
  background-color: #777;
}


/* Style weatherDate further details */
#offcanvasRight {
  background-color: #3a73a1;
  color: white;
  width: 400px;
}


#weather_des, #date1_des, #date2_des, #date3_des, #date4_des, #date5_des, #date6_des, #date7_des {
  font-size: 14px;
}



/* Style tab links */
.tab_nav button {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 18px;
  width: 25%;
  white-space: nowrap;
}

.tablink:hover {
  background-color: #777;
}


/* Style the tab content */
.content {
  background-color: #154c79;
}

.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
  margin: auto;
  background-color: #154c79;
}

/* Style the Melbourne slides */
#Melbourne .container {
  padding: 50px;
  color: #00535e;
  text-align: center;
  align-content: center;
  background-color: white;
  border-radius: 5px;
}

#Melbourne .container img {
  width: 100px;
  height: auto;
  margin: 0 0 20px 0;
}

#Melbourne .container .melbourne_info {
  padding: 20px 0;
  font-size: 20px;
}

#Melbourne .container .melbourne_info span {
  color: white;
  background-color: #00535e;
  border-radius: 5px;
  padding: 4px;
  margin: auto;
}

#Melbourne .container .melbourne_des,  #Melbourne .container .melbourne_weather{
  color: #555;
  margin: auto;
  width: 73%;
  font-size: 16px;
}

#Melbourne .container .melbourne_temp {
  margin-top: 50px;
}

#Melbourne canvas {
  width: 600px !important;
  margin: 0 auto;
}

/* Style the porpular desinations slides */
.mySlides {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  max-width: 1000px;
}

.mySlides img {
  height: 450px;
  object-fit: cover;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-decoration: none;
}

/* Caption text */
.mySlides .text {
  color: #f2f2f2;
  font-size: 30px;
  position: absolute;
  bottom: 30px;
  left: 18px;
  right: 18px;
  text-align: left;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active,
.dot:hover {
  background-color: #717171;
}

.panel-group {
  max-width: 1000px;
  margin: auto;
  color: black;
}

.panel-group img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}