/* Set height of body and the document to 100% to enable "full page tabs" */
body,
html {
  height: 100%;
  margin: 0;
  font-family: Avenir, "Century Gothic", sans-serif;
}

/* Style header */
.header-wrap {
  position: relative;
}
.header-wrap:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background: url("http://www.genkin.org/gallery/australia/melbourne/au-melbourne-0032_l.jpg");
  background-size: cover;
  background-position: center;
  }

.header {
  position: relative;
  font-family: Avenir, "Century Gothic", sans-serif;
  font-size: 54px;
  color: white;
  text-shadow: 0 0 10px black;
  text-align: center;
  padding: 2.5em; 
}

/* Style weatherDate button */
.weatherDate {
  font-family: Avenir, "Century Gothic", sans-serif;
  font-size: 16px;
  background-color: #555;
  color: white;
  opacity: 0.7;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 5px;
}

.weatherDate:hover {
  background-color: #777;
}

#offcanvasRight {
  width: 400px;
}

/* Style weatherDate further details */
#offcanvasRight {
  background-color: #3a73a1;
  color: white;
}

#weather_des, #date1_des, #date2_des, #date3_des, #date4_des, #date5_des, #date6_des, #date7_des {
  font-size: 14px;
  
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 18px;
  width: 25%;
  white-space:nowrap;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

/* #Melbourne {
  background-color: #154c79;
}
#PorpularDestinations {
  background-color: #154c79;
}
#Map {
  background-color: #154c79;
}
#Traffic {
  background-color: #154c79;
} */

/* Style the porpular desinations cards */
#card1, #card2, #card3, #card4 {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 12px;
  right: 12px;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #7ba8b8;
  border-radius: 5px;
}
#card1:hover .overlay, #card2:hover .overlay, #card3:hover .overlay, #card4:hover .overlay {
  opacity: 0.95;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 45px;
  left: 18px;
  text-align: center;
}
